.root {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.container {
  position: relative;
	width: 730px;
	overflow: hidden;
  background: #ffffff;
}